# YouTube
YOUTUBE_API_KEY=
YOUTUBE_CHANNEL_HANDLE=
YOUTUBE_CHANNEL_ID=

# Discord
DISCORD_WEBHOOK_NAME=Live 알림
DISCORD_WEBHOOK_AVATAR_URL=
DISCORD_WEBHOOK_URL=
DISCORD_MENTION=@everyone

# App
POLL_INTERVAL_SECONDS=60
STATE_PATH=./state.json